<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record a voice message to capture your dream and intention for this Daruma.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AtkinsonHyperlegible-Bold.ttf</string>
		<string>AtkinsonHyperlegible-Regular.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>OpenDyslexic-Bold.otf</string>
		<string>OpenDyslexic-Regular.otf</string>
	</array>
</dict>
</plist>
